<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/site/tweets/assets/images/TweetHuntLOGOO.png">
    <% if(title) { %>
    <title> Twitionary- <%= title %> </title>
    <% } else { %>
    <title> Twitionary- App</title>
    <% } %>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/site/tweets/assets/extra-libs/c3/c3.min.css">
    <link rel="stylesheet" href="/site/tweets/assets/libs/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="/site/tweets/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" href="/site/tweets/dist/css/style.min.css">
    <link rel="stylesheet" href="/site/tweets/toast/toastr.min.css">
    <link rel="stylesheet" href="/site/tweets/assets/extra-libs/prism/prism.css">
    <link rel="stylesheet" href="/site/tweets/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
  
</head>