<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Twitter Analystics</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" href="/blog/search"
                        aria-expanded="false"><i data-feather="search" class="feather-icon"></i><span
                            class="hide-menu">Search Keyword
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link" id="blog-mapper" href="/blog/mapper?search="
                        aria-expanded="false"><i data-feather="map-pin" class="feather-icon"></i><span
                            class="hide-menu">Tweets Mapper
                        </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link" href="keywords"
                    aria-expanded="false"><i data-feather="map-pin" class="feather-icon"></i><span
                        class="hide-menu">Add Keywords
                    </span></a>
            </li>

                <li class="sidebar-item"> <a class="sidebar-link" href="#"
                        aria-expanded="false"><i data-feather="layers" class="feather-icon"></i><span
                            class="hide-menu">Thread Hunter
                        </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link" href="reports"
                        aria-expanded="false"><i data-feather="bar-chart-2" class="feather-icon"></i><span
                            class="hide-menu">Reports
                        </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link" href="#"
                    aria-expanded="false"><i data-feather="book-open" class="feather-icon"></i><span
                        class="hide-menu">Deine Keywords
                    </span></a>
                </li>

                <li class="list-divider"></li>
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="#"
                        aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">Logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>