<!DOCTYPE html>
<html>
  
<%- include ("../partials/head") %>    
<style>
    .LockOn {
      display: block;
      visibility: visible;
      position: absolute;
      z-index: 999;
      top: 0px;
      left: 0px;
      width: 105%;
      height: 105%;
      background-color:white;
      padding-top: 20%; 
      filter: alpha(opacity=75); 
      opacity: 0.75; 
      font-size:large;
      color:blue;
      font-style:italic;
      font-weight:400;
      background-image: url("../Common/loadingGIF.gif");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
</style>
<body>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
        <%- include ("../partials/header") %>
        <!-- End Topbar header -->

        <%- include ("../partials/sidebar") %>
        <!-- End of sidebar -->


        <!-- CONTENT -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- <div id="coverScreen"  class="LockOn">
                </div> -->
                <!----- Search Twitter------>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Search Keywords</h4>
                            <div class="card-body">
                                <form name="frm" id="frm">
                                    <div class="form-group" style="width: 100%;display: flex;">
                                        <input type="text" class="form-control" required name="search" id="searchwords" placeholder="Enter keyword, hashing or website...">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                    <input type="radio" value="database" checked name="radioBtn" id="database" />&nbsp;<label for="database">Database</label>
                                    <input type="radio" value="realtime" name="radioBtn" id="realtime" />&nbsp;<label for="realtime">Real Time</label>
                                    <input type="hidden" id="startdb" name="startdb" value="6">
                                    <input type="hidden" id="next_result" name="next_result" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!----- Search Twitter------>
    
    
                <!-------Tweets Meter------>
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                                        <h5>Tweets</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                                        <h5>Retweets</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                                        <h5>Locations</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                        <h5>Impressions</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                                        <h5 id="totalTweets"></h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                        <h5 id="total_retweets"></h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                        <h5 id="tweets_location"></h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                        <h5 id="impressions"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-------Tweets Meter------>
    
                <!--------Tweets Analysis-->
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-xs-12 mb-0">
                        <div class="card">
                            <div class="card-header">Tweets By Sentiments</div>
                            <div class="card-body">
                                <div id="Sentiments"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xs-12 mb-0">
                        <div class="card">
                            <div class="card-header">Tweets By Type</div>
                            <div class="card-body">
                                <div id="ByType"></div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12 mb-0">
                        <div class="card">
                            <div class="card-header">Tweets Over Time</div>
                            <div class="card-body">
                                <div id="ByTime"></div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!--------Tweets Analysis-->
    
                <!------ All Tweets------->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">Twitter Feed</div>
                            <div class="card-body tweets" data-masonry='{ "itemSelector": ".tweet-item" }' id="urlpost">
                                <div class="row tweet-item">
                                    <!-- tweets will append here -->
                                </div>
                            </div>
                            <!-- On scroll loading spinner -->
                            <div class="d-flex justify-content-center py-5">
                                <div class="spinner-border text-info" role="status" id="load-spinner" style="display: none;">
                                  <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./CONTENT -->
    </div>
        
    <%- include ("../partials/footer") %>
    <!-- End of footer -->

   <script type="text/javascript">
        let search = window.location.search.slice(1).split("&")[0].split("=")[1];
       $('#search').val(search);

       
        // Twitter widget is loading.
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
        // twttr.widgets.load();

        // When widget is ready, run masonry
       twttr.ready(function (twttr) {
            twttr.events.bind('loaded', function (event) {
                $('.tweets').masonry({
                    itemSelector: '.tweet-item'
                });
            });
        });

        $("form").on("submit", function(e) {
            e.preventDefault();
            var search = $("#searchwords").val();
            var checkbox = 'database';
            if ($('input[id="realtime"]').is(':checked')) {
                checkbox = 'realtime';
            }
            // load data
            countsDataLoad(search, checkbox);
            getChartsData(search, checkbox);
            getTweets(search, checkbox);
        });

        // counts data load i.e. totalTweets, locations, retweets, etc
        function countsDataLoad(search, checkbox) {
            $(".preloader").fadeIn();
            $.ajax({
                url: "/blog/tweets/count-data",
                type: 'POST',
                data: {
                    search: search,
                    checkbox: checkbox
                },
                success: function (data) {
                    if(data.success) {
                        //START total tweets ,total retweets and total location
                        $("#totalTweets").text(data.totalTweets)
                        $("#total_retweets").text(data.retweets)
                        $("#tweets_location").text(data.tweets_location)
                        $("#impressions").text(data.total_followers)
                        //END total tweets ,total retweets and total location

                        drawPieChartForTotalTweets(data);
                    }
                    $(".preloader").fadeOut();
                },
                error: function (xhr, errmsg, err) { 
                    $(".preloader").fadeOut();
                }
            });
        }

        function drawPieChartForTotalTweets(data) {
            var retweets = data.retweets;
            var totalTweets = data.totalTweets;

            // Build the chart
            Highcharts.chart('ByType', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{name} <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            distance: -25,
                            format: '{point.percentage:.1f}%'
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    colorByPoint: true,
                    data: [
                        { name: 'Tweets', y: totalTweets },
                        { name: 'Retweets', y: retweets }
                    ]
                }]
            });
        }

        // get highcharts data
        function getChartsData(search, checkbox) {
            $(".preloader").fadeIn();
            $.ajax({
                url: "/blog/tweets/chart-data",
                type: 'POST',
                data: {
                    search: search,
                    checkbox: checkbox
                },
                success: function (data) {
                    if(data.success) {
                        drawCharts(data);
                    }
                    $(".preloader").fadeOut();
                },
                error: function (xhr, errmsg, err) { 
                    $(".preloader").fadeOut();
                }
            });
        }
        

        // get tweets
        function getTweets(search, checkbox) {
            $(".preloader").fadeIn();
            $.ajax({
                url: "/blog/tweets/search",
                type: 'POST',
                data: {
                    search: search,
                    checkbox: checkbox
                },
                success: function (data) {
                    if(data.success) {
                        // set values for load more data
                        checkbox == 'database' ? $("#startdb").val(data.startdb):$("#next_result").val(data.next_result);
                        $('.tweet-item').empty();
                        var urlpost = $('#urlpost');
                        var html = "";
            
                        for (var i = 0; i < data.posts.length; i++) {                       
            
                            html = $('.tweet-item').append('<div class ="col-sm-4"><a href="' + data.posts[i].blogUrl + '" target="_blank">' + '<img src="https://img.icons8.com/fluent/48/000000/twitter.png" />' + data.posts[i].username + '</a>' +
                            '<blockquote class="twitter-tweet spinner-border text-info" id="'+data.posts[i].tweetId+'"><a href=' + data.posts[i].urll + '></a></blockquote></div>');
            
                            html.appendTo(urlpost);
                            // twttr.widgets.load($("blockquote[id="+data[i].tweetId+"]"));
                        }
                        twttr.widgets.load(document.getElementById('urlpost'));
                    }
                    $(".preloader").fadeOut();
                },
                error: function (xhr, errmsg, err) { 
                    $(".preloader").fadeOut();
                }
            })
        }
    // ./get tweets
    
    // draw charts
    function drawCharts(data) {
        var greate = data.great;
        var good = data.good;
        var nuetral = data.nutral;
        var bad = data.bad;
        var terrible = data.terr;
        // Build the chart
        Highcharts.chart('Sentiments', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{name} <b>{point.percentage:.0f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        distance: -25,
                        format: '{point.percentage:.0f}%'
                    },
                    showInLegend: true
                }
            },
            series: [{
                colorByPoint: true,
                data: [
                    { name: 'Great', y: greate },
                    { name: 'Good', y: good },
                    { name: 'Neutral', y: nuetral }, 
                    { name: 'Bad', y: bad }, 
                    { name: 'Terrible', y: terrible }
                ]
            }]
        });
        
        var mydict = data.countDates;
        let tweetsArray = [];

        let bydateArr = [];
        for (const tweets of mydict) {
            tweetsArray.push([tweets.bydate, tweets.countTweets]);
            bydateArr.push(tweets.bydate)
        }

        Highcharts.chart('ByTime', {

            title: {
                text: ''
            },

            time: {
                timezone: 'Pakistan/Karachi'
            },
            xAxis: {
                type: 'datetime',
                categories: bydateArr
            },
            credits: {
                enabled: false
            },

            series: [{
                name: 'Tweets',
                data: tweetsArray,
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    }

    // Load more data on scrole
    $(document).ready(function() {
        var isRequested;
        $(window).scroll(function() {
            if (!isRequested && $(window).scrollTop() + $(window).height() == $(document).height()) {
                var startdb = $("#startdb").val();
                var nextResult = $("#next_result").val();
                var search = $("#searchwords").val();
                var checkbox = 'database';
                if ($('input[id="realtime"]').is(':checked')) {
                    checkbox = 'realtime';
                }
                if(search != '') {
                    isRequested = true;
                    $("#load-spinner").css("display","block");
                    $.ajax({
                        url: "/blog/tweets/search",
                        type: 'POST',
                        data: {
                            startdb: startdb,
                            next_result: nextResult,
                            search: search,
                            checkbox: checkbox
                        },
                        success: function (data) {
                            if(data && data.posts.length > 0) {
                                checkbox == 'database' ? $("#startdb").val(data.startdb):$("#next_result").val(data.next_result);
                                // append new tweets widgets
                                var urlpost = $('#urlpost');
                                var html = "";
                                for (var i = 0; i < data.posts.length; i++) {                       
                    
                                    html = $('.tweet-item').append('<div class ="col-sm-4"><a href="' + data.posts[i].blogUrl + '" target="_blank">' + '<img src="https://img.icons8.com/fluent/48/000000/twitter.png" />' + data.posts[i].username + '</a>' +
                                    '<blockquote class="twitter-tweet spinner-border text-info" id="'+data.posts[i].tweetId+'"><a href=' + data.posts[i].urll + '></a></blockquote></div>');
                    
                                    html.appendTo(urlpost);
                                    // twttr.widgets.load($("blockquote[id="+data[i].tweetId+"]"));
                                }
                                twttr.widgets.load(document.getElementById('urlpost'));
                            }
                            $("#load-spinner").css("display","none");
                            setTimeout(function() {
                                isRequested = false;
                           }, 5000);
                        },
                        error: function (xhr, errmsg, err) {
                            $("#load-spinner").css("display","none");
                            isRequested = false;
                        }
                    })
                }
            }
        }) 
    });

   </script>
</body>
</html>