<!DOCTYPE html>
<html>
  
<%- include ("../partials/head") %>

<body>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
        <%- include ("../partials/header") %>
        <!-- End Topbar header -->

        <%- include ("../partials/sidebar") %>
        <!-- End of sidebar -->

        <!-- CONTENT -->
        <div class="page-wrapper">
            <div class="container-fluid">
        
                <!--------Keyword Search-->
                <div id="isForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add New Keyword</h4>
                                
                                <form action="/blog/keyword/add" method="POST" id="keywordForm" style="display:flex;">
                                    <div class="form-group" style="width: 100%;">
                                        <input type="text" class="form-control" name="keyword" id="keyword" required placeholder="Enter keyword">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- basic table -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Keywords List</h4>
                                <div class="table table-sm table-responsive">
                                    <table id="keywords_table" class="table">
                                        <thead>
                                            <tr>
                                                <th hidden>Id</th>
                                                <th style="width: 5%;">Sr</th>
                                                <th>Keyword</th>
                                                <th style="width: 10%;">action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update keyword</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form id="update_form" role="form">
                            <div class="modal-body">
                                <div class="form-group" style="width: 100%;">
                                    <input type="text" class="form-control" name="keywordEdit" id="keywordEdit" required value="" placeholder="Enter keyword">
                                </div>
                            </div>
                            <input type="hidden" id="keywordId" name="keywordId"/>
                            <div class="modal-footer">
                                <button type="submit" id="btnSave" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!-- ./Modal -->
            </div>
        </div>
        <!-- ./CONTENT -->

    </div>
        
    <%- include ("../partials/footer") %>
    <!-- End of footer -->
    <script>
        setTimeout(function() { jQuery('#modal').modal('hide'); }, 1000);
        
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
    <script type="text/javascript">
        $(function(){
            loadData();
        });

        $("#keywordForm").submit(function () {
           var keywordText= $("#keyword").val();
           $(".preloader").fadeIn();
           $.ajax({
           url: "/blog/keyword/add",
           type: 'POST',
           data: {
               keyword:keywordText
           },
           success: function(data){
            $(".preloader").fadeOut();
               if (data.success) {
                    // reset form
                    $("#keywordForm").trigger("reset");
                    toastr["success"](data.msg);   
                }
               else {
                   toastr["error"]('Warning! '+data.msg);
               }
               $('#modal').modal('hide');
       
               $("#keywords_table tbody").empty();
               loadData();
           },
           error: function(xhr, errmsg, err) {
            $(".preloader").fadeOut();
               toastr["error"]('Warning! '+err);
           }
       })
       return false;
       });
    // edit values
       function EditFun(ele){
           $("#keywordId").val($(ele).closest("tr").find("td:eq(0)").text())
           $("#keywordEdit").val($(ele).closest("tr").find("td:eq(2)").text())
           $('#modal').modal('show');
       }
    // update values
       $("#update_form").submit(function () {
           event.preventDefault();
           var kId=$("#keywordId").val();
           var keywordEdit= $("#keywordEdit").val();
           if(keywordEdit != '') {
               $(".preloader").fadeIn();
               $.ajax({
                    url: "/blog/keyword/update",
                    type: 'POST',
                    data: {
                        Id: kId,
                        keyword: keywordEdit
                    },
                    success: function(data){
                        $(".preloader").fadeOut();
                        if (data.success) {
                            toastr["success"](data.msg);
                            }
                        else {
                            toastr["error"](data.msg);
                        }
                        $('#modal').modal('hide');
                
                        $("#keywords_table tbody").empty();
                        loadData();
                    },
                    error: function(xhr, errmsg, err) {
                        $(".preloader").fadeOut();
                        toastr["error"](data.msg);
                        $("#keywords_table tbody").empty();
                        loadData();
                    }
                })
           }
       });
    // get all keywords
       function loadData(){
        $(".preloader").fadeIn();
           $.ajax({
                url: "/blog/keywords/get",
                type: 'GET',
                success: function(data){
                    $(".preloader").fadeOut();
                    if(data.success) {
                        let tbody = '';
                        var index = 1;
                        data.dataArr.forEach((element) => {
    
                        tbody += '<tr style="color:#000;"><td style="display:none">' + element.Id + '</td><td>' + index+ '</td><td>' + element.Keyword + '</td><td><button onclick="EditFun(this)" class="btn btn-info btn-sm delete-company" title="Edit '+element.Keyword+'" style="cursor: pointer;"><i class="fa fa-edit"></i> </button>&nbsp;<button onclick="Remove(this)" class="btn btn-danger btn-sm" title="Delete '+element.Keyword+'" style="cursor: pointer;"><i class="fa fa-trash"></i></button></td></tr>';
                            index++
                        });
                        $("#keywords_table tbody").append(tbody);
                        $('#keywords_table').DataTable();
                    }
                },
                error: function(xhr, errmsg, err) {
                    $(".preloader").fadeOut();
                    toastr["error"](''+err);
                }
            })
        }
           
       function Remove(ele)
       {
           var x = confirm("Are you sure you want to delete?");
         if (x){
            var Id = $(ele).closest("tr").find("td:eq(0)").text();
            $(".preloader").fadeIn();
            $.ajax({
            url: "/blog/keyword/delete/"+Id,
            type: 'GET',
            success: function(data){
                $(".preloader").fadeOut();
                if(data.success) {
                    toastr["success"](data.msg);
                } else {
                    toastr["error"](data.msg);
                }
                $("#keywords_table tbody").empty();
                loadData();
            },
            error: function(xhr, errmsg, err) {
                $(".preloader").fadeOut();
                toastr["error"](''+err);
            }
        })
       }
         else
           return false;
       }
       
</script>
</body>
</html>