<!DOCTYPE html>
<html>
  
<%- include ("../partials/head") %>

<body>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        
        <%- include ("../partials/header") %>
        <!-- End Topbar header -->

        <%- include ("../partials/sidebar") %>
        <!-- End of sidebar -->

        <!-- CONTENT -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mb-3 align-items-center">
                        <h5 class="card-title">Enter a To Date And From Date To Search Tweets By Date.</h5>
                    </div>
                </div>
    
                <!----- Search Twitter------>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="formsubmit">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="fromDate" class="card-title">From Date</label>
                                            <div class="form-group">
                                                <input type="text" id="fromDate" name="fromDate" required class="form-control" placeholder="select from date" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="toDate" class="card-title">To Date</label>
                                            <div class="input-group">
                                                <input type="text" id="toDate" name="toDate" required class="form-control" placeholder="select to date" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 31px;">    
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!----- Search Twitter------>
                <!-------Tweets Meter------>
    
                <div class="card">
                    <div class="card-body">
    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="card-title">Total Tweets Between Dates</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item active">Tweets Found on Date:
                                                    <span class="badge badge-danger ml-2" id="returnFromDate"></span>
                                                    <span class="badge badge-danger ml-1" id="returnToDate"></span>
                                                    <span class="badge badge-danger float-right" id="allTweets"></span>
                                                </li>
                                            </ul>
                                            <ul class="list-group" id="tweetsList">
                                                <li class="list-group-item">
                                                    Tweets Found on Date:
                                                    <span class="badge badge-info ml-2"></span>
                                                    <span class="badge badge-info float-right"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-md-12">
                                            <h4 class="card-title">Total Tweets on Keywords</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item active">
                                                    Total Tweets on keywords
                                                    <span class="badge badge-danger float-right" id="allKeywords"></span>
                                                </li>
                                            </ul>
                                            <ul class="list-group" id="listShow">
                                                <li class="list-group-item">
                                                    <span class="badge badge-danger float-right"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./CONTENT -->
    </div>
        
    <%- include ("../partials/footer") %>
    <!-- End of footer -->

    <script>

        $(function() {
            $('#fromDate, #toDate').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                clearBtn: true,
                endDate: '0d'
            });
        });
        // from date must be less than to date
        $(document).ready(function(){
            $("#fromDate").datepicker().on('changeDate', function(selected){
                fromDate = new Date(selected.date.valueOf());
                $('#toDate').datepicker('setStartDate', fromDate);
            });  

            $("#toDate").datepicker().on('changeDate', function(selected){
                toDate = new Date(selected.date.valueOf());
                $('#fromDate').datepicker('setEndDate', toDate);
            }) 
        });

        $("#formsubmit").submit(function () {
            $(".preloader").fadeIn();

            var fromdate = $("#fromDate").val();
            var todate = $("#toDate").val();
            $.ajax({
                url: "/blog/tweets/report",
                type: 'POST',
                data: {
                    fromdate: fromdate,
                    todate: todate
                },
                success: function (data) {
                    $(".preloader").fadeOut();
                    if(data.success) {
                        $("#allTweets").text(numToLetter(data.allTweets));
                        $("#allKeywords").text(numToLetter(data.allKeywords));
                        $("#returnFromDate").text(data.fromDate);
                        $("#returnToDate").text(data.toDate);
                        $("#tweetsList").empty();
                        //tweets list by date
                        for (i = 0; i < data.tweetsArr.length; i++) {
                            $("#tweetsList").append('<li class="list-group-item">Tweets Found on Date: <span class="badge badge-info ml-2">' + data.tweetsArr[i].onDate + '</span>' +
                            '<span class="badge badge-info float-right">' + numToLetter(data.tweetsArr[i].totalTweets) + '</span>' + '</li>')
                        }
                        // keywords list
                        $("#listShow").empty();
                        for (i = 0; i < data.keywordsArr.length; i++) {
                            $("#listShow").append('<li class="list-group-item ">' + data.keywordsArr[i].title + '<span class="badge badge-danger float-right">' + numToLetter(data.keywordsArr[i].totalKeywords) + '</span>' + '</li>');
                        }
    
                    } else {
                        alert('Failed, '+data.msg);
                    }
                },

                error: function (xhr, errmsg, err) {
                    $(".preloader").fadeOut();
                    alert('Failed! '+err);
                 }
            })
            return false;
        })

    </script>
</body>
</html>